.dank-form {
  display: flex;
  flex-direction: column;
  background: #1115;
  border: 1ch #1117 solid;
  padding: 3ch;
  border-radius: 1ch;
  color: #ccc;
  label {
    margin: 0.5ch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input {
      margin-left: 2ch;
    }
  }

  h3 {
    color: #666;
  }

  button {
    margin: 4ch 1ch;
  }
}
