.transaction-modal {
  color: #fff;
  z-index: 100;
  position: absolute;
  width: 95vw;
  height: 95vh;
  border-radius: 1ch;
  border: 1ch solid #000;
  background: #000c;
  display: flex;
  pointer-events: visible;

  h3 {
    margin: 0;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px #000, -1px -1px #444;
  }

  .cancel-button {
    cursor: pointer;
    background: #000a;
    border: 1px solid #ccc;
    width: 4ch;
    padding: 1ch 1ch;
    border-radius: 1.5ch;
    text-align: center;
    position: relative;
    top: -9ch;
    left: -2ch;
  }

  .form {
    pointer-events: all;
    box-sizing: content-box;
    padding: 3ch 2ch;
    background: #000a;
    border: 1px solid #ccc;
    border-radius: 1ch;
    width: 50%;
    margin: auto;

    label {
      display: flex;
      margin: 1ch;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
