.transactions {
  .column {
    h3 {
      text-align: center;
      text-decoration: underline;
    }
    font-size: 14pt;
    margin: 2ch;
    background: #fff1;
    padding: 0 2ch 1ch;
    border-radius: 1ch;
  }

  .transaction-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .details {
      padding-left: 1ch;
    }
  }
}
